@model TrainingDivisionKedis.Student.ViewModels.Tests.TestsListViewModel
@{
    ViewData["Title"] = @Model.SubjectName + " | Тесты";
}

<h1>Тесты</h1>

<h5 class="text-primary mb-3">@Model.SubjectName</h5>

<partial name="../Shared/_StatusMessages.cshtml" />

<table class="table table-sm">
    <thead>
        <tr>
            <th>
                Наименование
            </th>
            <th>
                Всего вопросов
            </th>
            <th>
                Продолжительность
            </th>
            <th>
                Результат
            </th>
        </tr>
    </thead>
    <tbody>
       @foreach (var m in Model.Tests)
        {
        <tr>
            <td width="60%">@m.Name</td>
            <td>@m.QuestionsTotal</td>
            <td>@m.TimeLimit мин.</td>
            <td>
                @if (m.IsOpened)
                {
                    @if (m.StartedAt.HasValue)
                    {
                        <a class="btn btn-sm btn-primary" asp-action="Details" asp-controller="Tests" asp-route-id="@m.Id">Продолжить</a>
                    }
                    else
                    {
                        <a class="btn btn-sm btn-primary" asp-action="Details" asp-controller="Tests" asp-route-id="@m.Id">Пройти</a>
                    }
                }
                else
                {
                    @m.Ball
                }
            </td>
        </tr>
        }
    </tbody>
</table>


